<a href="https://colab.research.google.com/github/RamshaArshad1/Python/blob/main/class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: print hello world

print("Hello, world!")

Hello, world!

Python Operators

In [ ]:
#python operators
# + - / *
2+2

4

In [ ]:
#subtraction
3-2

1

In [ ]:
#multiply
2*3

6

In [ ]:
#divide
8/4

2.0

In [ ]:
#modulo
4%16

4

In [ ]:
# 2% increase in a 100$ on a monthely basis for 2 years
100*(1.02**2)

104.03999999999999

In [ ]:
# you have 100$ which you can invest with a 10% return each year. after one year it's 110$ ans after 2 its 121$. how much will bw after 7 years
out = 100*(1+0.10)**7
print(out)

194.87171000000012

In [ ]:
age = 20
print(age)

20

In [ ]:
# Write age, height, name of a person and calculate his age in 10 years and show all variables via print
Name = ("Ali")
Hight =  ("5.10")
Age = (20)
age2 = Age + 10
print(Name)
print(Hight)
print(Age)
print(age2)

Ali
5.10
20
30

In [ ]:
#types of var
string = "name"
Integer = 10
Float = 10.5
Boolean = True or False or None

In [ ]:
#create two variables and print them in the given sentence
#create two variables and print them in the given sentence
name = "ramsha"
age  = 20
print(f"my name is {name} and my age is {age}")

my name is ramsha and my age is 20

In [1]:
growth = 1.1
money = 100
result = money*growth**7
print(result)

194.87171000000012

In [20]:
# name, age, hight
Name = "Ramsha"
Age = "20"
Hight = "5.4"
print("my name is " + Name + " and my age is " + Age + " and my hight is " + Hight)
print(Name)
print(Age)
print(Hight)

my name is Ramsha and my age is 20 and my hight is 5.4
Ramsha
20
5.4

**LIST**

In [10]:
a = "Ramsha"
b = "female"
c = "5.3"
d = "20"
e = [a,b,c,d]
print(e)

['Ramsha', 'female', '5.3', '20']

In [7]:
#make a list for seven cities
a = "lahore"
b = "karachi"
c = "islamabad"
d = "peshawar"
e = "quetta"
f = "multan"
g = "rawalpindi"
cities = [a,b,c,d,e,f,g]
print(cities)

['lahore', 'karachi', 'islamabad', 'peshawar', 'quetta', 'multan', 'rawalpindi']

In [8]:
# 7 different ages of people
age = [10,20,30,40,50,60,70]
print(age)

[10, 20, 30, 40, 50, 60, 70]

In [23]:
# create a list with a city name, temp, size and wheter its a city or not
a = ["lahore", "24 celcius", "1772 sq km", "true"]
print (a)

['lahore', '24 celcius', '1772 sq km', 'true']

In [22]:
sent = "I am lord voldemort"
print(sent[10:])

voldemort

In [ ]:
del="I am lord voldemort"
print(del[10:])

In [28]:
var1 = (sent[10:])
var2 = (sent[:10])
print(var1)
print(var2)

TypeError: 'str' object is not callable

In [38]:
#create 3 cities in each pak, ind, bangladesh
cities = [['lahore', 'karachi', 'islamabad'], ['mumbai', 'dehli', 'agra'], ['dhaka', 'chittagong', 'rajshahi']]
print(cities)

TypeError: 'str' object is not callable

In [33]:
a = "lahore"
b = "karachi"
c = "islamabad"
d = "mumbai"
e = "agra"
f = "delhi"
g = "dhaka"
h = "chittagong"
i = "rajshahi"
cities = [[a,b,c],[d,e,f],[g,h,i]]
print(cities)

TypeError: 'str' object is not callable