In [1]:
# prompt: print hello world

print("Hello, world!")

Hello, world!

Python Operators

In [3]:
#python operators
# + - / *
2+2

4

In [6]:
#subtraction
3-2

1

In [7]:
#multiply
2*3

6

In [8]:
#divide
8/4

2.0

In [10]:
#modulo
4%16

4

In [22]:
# 2% increase in a 100$ on a monthely basis for 2 years
100*(1.02**2)

104.03999999999999

In [15]:
# you have 100$ which you can invest with a 10% return each year. after one year it's 110$ ans after 2 its 121$. how much will bw after 7 years
out = 100*(1+0.10)**7
print(out)

194.87171000000012

In [14]:
age = 20
print(age)

20

In [18]:
# Write age, height, name of a person and calculate his age in 10 years and show all variables via print
Name = ("Ali")
Hight =  ("5.10")
Age = (20)
age2 = Age + 10
print(Name)
print(Hight)
print(Age)
print(age2)

Ali
5.10
20
30

In [ ]:
#types of var
string = "name"
Integer = 10
Float = 10.5
Boolean = True or False or None

In [25]:
#create two variables and print them in the given sentence
#create two variables and print them in the given sentence
name = "ramsha"
age  = 20
print(f"my name is {name} and my age is {age}")

my name is ramsha and my age is 20